.stack {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  .inner-stack,
  .mid-stack,
  .outer-stack {
    border: 1px solid var(--light600);
    border-bottom: none;
    border-radius: 7px 7px 0 0;
  }

  .inner-stack {
    width: 95%;
    height: 10px;
    opacity: 0.2;
  }

  .mid-stack {
    width: 97.5%;
    height: 16px;
    opacity: 0.5;
  }

  .outer-stack {
    width: 100%;
    height: 95px;
  }
}
