.dropdown-trigger {
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;

  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s;

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

.dropdown-trigger-open {
  color: var(--auxiliary-orange);
  cursor: pointer;
}

.dropdown-trigger-icon {
  transition: color 0.3s, transform 0.3s;
}

.dropdown-trigger-icon-open {
  color: var(--auxiliary-orange);
  transform: rotate(180deg);
}
