.background {
  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 5px;
  background-color: var(--light100);
}

.round {
  border-radius: 50%;
}

.dark {
  background: var(--dark800);
  color: white;
}
