.background {
  background-color: var(--light100);
  width: 32px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  border-radius: 50%;
}

.dark {
  background: var(--dark800);
  color: white;
}
