.newsletter-strip {
  position: relative;
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: 72px var(--global-padding-single);
  background: var(--dark700);

  .icon {
    z-index: 1;
  }

  .info-header {
    z-index: 1;
    gap: 6px;

    .title {
      font-size: 24px;
    }

    .subtitle {
      font-size: 16px;
      opacity: 0.8;
    }
  }

  .input-wrapper {
    width: 100%;
    padding: 0 100px;

    z-index: 1;
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 1024px) {
      padding: 0 64px;
    }

    @media (max-width: 900px) {
      padding: 0 32px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      max-width: 415px;
    }


    .name,
    .email {
      width: 100%;
      height: 56px;

      background: white;
      border: none;
      outline: none;

      border-radius: 8px;
      color: var(--neutral700);
      font-size: 14px;
      padding: 0 24px;
    }

    .name::placeholder,
    .email::placeholder {
      color: var(--neutral500);
      font-size: 14px;
    }

    .button {
      height: 56px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .background-logo {
    position: absolute;
    top: -24px;
    left: 64px;

    z-index: 0;

    width: 335.5px;
    height: 439.05px;

    @media (max-width: 768px) {
      display: none;
    }

    .logo {
      position: absolute;
      top: 130px;
      left: 50px;

      z-index: 2;
      scale: 275%;
      transform-origin: left;
    }

    .hue {
      position: absolute;
      z-index: 1;

      width: 302px;
      height: 586px;

      border-radius: 50%;
      filter: blur(125px);
      background: var(--light500);
    }
  }
}
