.dots {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 7px;
  padding-left: 20px;

  .dot1,
  .dot2,
  .dot3 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--neutral000);
  }

  .dot1 {
    opacity: 0.8;
  }

  .dot2 {
    opacity: 0.6;
  }

  .dot3 {
    opacity: 0.4;
  }
}
