.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82px;
}

.top {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  min-height: 32px;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
}

.bottom {
  font-size: 14px;
  font-weight: 400;
}

.icon {
  color: var(--primary);
}
