.button-wrapper {
  all: unset;
}

.section-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  cursor: pointer;
  color: var(--neutral400);
  text-align: center;
  font-size: 16px;
  font-variation-settings: 'wght' 500;
  line-height: 150%;

  z-index: 1;

  white-space: nowrap;

  transition: color .3s, font-variation-settings .3s;
}

.highlight {
  width: 120%;
  height: 2px;
  transition: background .3s;
}

.active {
  color: var(--neutral600);
  font-variation-settings: 'wght' 600;

  .highlight {
    background: var(--auxiliary-orange);
  }
}
