.info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 1;
  gap: 32px;

  .button {
    width: fit-content;
    padding: 16px 42px;
  }
}
