.info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 16px;
  z-index: 1;

  .title,
  .subtitle {
    line-height: 1.5;
  }

  .button {
    margin-top: 16px;
  }
}
