.mobile-nav {
  display: none;

  @media (max-width: 900px) {
    display: inline;
  }
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0 0 0 / 0.5);
  height: 100%;
  width: 100%;

  z-index: 1;
  overflow-y: scroll;

  .dialog-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    background: white;
    z-index: 1;
    border-radius: 0 0 16px 16px;
    padding: 0 64px 64px 64px;

    @media (max-width: 768px) {
      padding: 0 24px 24px 24px;
    }

    .dialog-header {
      height: 108px;
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;


      .dialog-close {
        cursor: pointer;
      }
    }

    .dialog-content-bottom {
      display: flex;
      flex-direction: column;
      gap: 64px;


      .dialog-buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .nav-link {
          background: var(--neutral100);
          padding: 16px;
          border-radius: 8px;

          color: var(--neutral600);
          font-size: 18px;
          font-weight: 600;
        }
      }

      .account-test-wrapper {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        gap: 16px;

        .account-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          padding: 16px;

          color: var(--neutral700);
          font-size: 16px;
          font-weight: 600;
        }

        .test-button {
          width: 100%;
          padding: 16px 32px;
        }
      }
    }
  }
}

.dialog-overlay[data-state="open"] {
  animation: overlayAppear .3s;
}

.dialog-overlay[data-state="closed"] {
  animation: overlayHide .3s;
}

@keyframes overlayAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes overlayHide {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}
