.success-cases {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: default;

  .title {
    align-items: flex-start;

    @media (max-width: 1330px) {
      align-items: center;
      gap: 16px;
    }
  }

  .success-cases-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 0 64px;

    @media (max-width: 1330px) {
      padding: 0 32px;
    }

    @media (max-width: 768px) {
      padding: 0 8px;
    }

    .success-cases-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 1330px) {
        justify-content: center;
      }

      .success-cases-button {
        height: fit-content;
        padding: 16px 42px;
        background: white;
        color: var(--auxiliary-orange);
        border: 1px solid var(--auxiliary-orange);

        @media (max-width: 1330px) {
          display: none;
        }
      }

      .success-cases-button:hover {
        background: var(--auxiliary-orange);
        color: white;
      }
    }

  }
}
