.navtrailing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 1330px) {
    gap: 20px;
  }

  @media (max-width: 900px) {
    display: none;
  }

  .login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    transition: color 0.3s;

    .icon {
      transition: color 0.3s;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  .login-wrapper:hover {
    color: var(--auxiliary-orange);
  }

  .outline-button {
    background-color: transparent;
    border: solid 1px #fff;
    transition: background-color 0.3s, border 0.3s;

    @media (max-width: 1024px) {
      font-size: 12px;
      padding: 12px;
    }
  }

  .outline-button:hover {
    border: solid 1px transparent;
    background-color: var(--auxiliary-orange);
  }
}
