.autoplayer-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .autoplayer-title {
    display: flex;
    align-items: center;
    gap: 16px;

    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    height: 32px;

    transition: opacity 0.3s, height 0.3s, margin-top 0.3s;
    opacity: 0.5;
  }

  .autoplayer-title-on {
    opacity: 1;
  }

  .autoplayer-subtitle {
    margin-left: 48px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.3s, height 0.3s, margin 0.3s;
    height: 0px;

    @media (max-width: 1024px) {
      margin-left: 0;
    }
  }

  .autoplayer-subtitle-on {
    opacity: 1;
    margin: 24px 0;
  }
}
