.progress-bar {
  width: 100%;
  height: 8px;
  background-color: var(--neutral200);
  border-radius: 6px;

  .progress {
    background-color: var(--light300);
    height: 8px;
    border-radius: 6px;
  }
}
