.nav-accordion {
  width: 100%;
  background: var(--neutral100);
  border-radius: 8px;

  .nav-accordion-trigger {
    border: none;
    width: 100%;

    background: var(--neutral100);
    border-radius: 8px;
    padding: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    position: relative;

    .caret-down {
      color: var(--light500);
    }

    .caret-down:focus-visible {
      outline: 1px solid var(--light500);
      outline-offset: 2px;
      border-radius: 4px;
    }

    .nav-accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 64px;

      color: var(--neutral600);
      font-size: 18px;
      font-weight: 600;

    }
  }


  .nav-accordion-content {
    font-size: 14px;
    color: var(--neutral400);
    overflow: hidden;


    .nav-accordion-links-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0 16px 16px 16px;
    }

  }

  .nav-accordion-content[data-state="open"] {
    animation: slideDown .3s cubic-bezier(0.87, 0, 0.13, 1);
  }

  .nav-accordion-content[data-state="closed"] {
    animation: slideUp .3s cubic-bezier(0.87, 0, 0.13, 1);
  }
}

.nav-accordion-trigger[data-state="open"] {
  .caret-down {
    animation: turnDown .3s forwards;
  }
}

.nav-accordion-trigger[data-state="closed"] {
  .caret-down {
    animation: turnUp .3s forwards;
  }
}


@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes turnDown {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}


@keyframes turnUp {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}
