.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.success-cases-swiper {
  width: 100%;
  height: 380px;

  position: relative;
  display: flex;
  gap: 32px;

  @media (max-width: 1330px) {
    flex-direction: column;
    height: calc(380px * 2);
  }

  @media (max-width: 768px) {
    height: calc(380px * 2);
  }

  .success-cases-left,
  .success-cases-right {

    .success-case-card,
    .success-case-picture {
      border-radius: 16px;
    }
  }

  .success-cases-left {
    width: 100%;
    height: 100%;
    position: relative;

    .success-case-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      position: absolute;
      top: calc(50% - 16px);
      right: -16px;
    }
  }

  .success-cases-right {
    position: relative;
    width: 80%;
    height: 100%;

    @media (max-width: 1330px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      height: 65%;
    }

    @media (max-width: 375px) {
      height: 45%;
    }

    .success-case-picture {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      transition: opacity 0.3s;
    }
  }
}
