.tag-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  background: var(--light100);
  width: fit-content;

  padding: 8px 16px;
  border: 1px solid var(--light200);
  border-radius: 50px;

  color: var(--dark700);
  font-size: 14px;
  font-weight: 600;

  transition: border .3s;
}

.link:hover {
  border: 1px solid var(--light400);
}

.dark {
  border: 1px solid var(--dark900);
  background: var(--dark800);
  color: white;
}

.dark:hover {
  border: 1px solid var(--dark900);
}
